body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #837c76;
}

.header {
    text-align: center;
    padding: 20px;
    background: #d48bc3;
    color: rgb(201, 7, 7);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff2e6 url('') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.product-card {
    background: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}


