<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
</head>
<body>

<h2>Your Cart</h2>

{% if items %}
    <table border="1" cellpadding="10">
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>

        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>

            <td>
                <a href="{% url 'decrease_qty' item.id %}">➖</a>
                {{ item.quantity }}
                <a href="{% url 'increase_qty' item.id %}">➕</a>
            </td>

            <td>Rs.{{ item.product.price|floatformat:2 }}</td>

            <td>
                <a href="{% url 'remove_from_cart' item.id %}">
                    Remove ❌
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h3>Total: Rs.{{ total }}</h3>

{% else %}
    <p>Your cart is empty.</p>
{% endif %}

<a href="{% url 'home' %}">Continue Shopping</a>

</body>
</html>
